<h1>Party</h1>
<% if @party.errors.any?  %>
    <h1><%= pluralize(@party.errors.count, "error")%></h1>

    <ul>
        <% @party.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_with model: @party do |f|%>
    <%= f.label :name%>
    <%= f.text_field :name%>

    <%= f.label :date%>
    <%= f.datetime_field :date%>
    <%= f.label :category%>
    <%= f.text_field :category%>
    <%= f.label :supplies%>
    <%= f.text_field :supplies%>
    <%= f.label :budget%>
    <%= f.number_field :budget%>

    <%=f.submit%>
    <%end%>